<!--begin::Tiles Widget 4-->
<div class="card h-150px card-xl-stretch">
    <!--begin::Body-->
    <div class="card-body d-flex align-items-center justify-content-between flex-wrap">
        <div class="me-2">
            <h2 class="fw-bold text-gray-800 mb-3">Create CRM Reports</h2>
            <div class="text-muted fw-semibold fs-6">
                Generate the latest CRM report for company projects
            </div>
        </div>
        <a href="#" class="btn btn-primary fw-semibold"  data-bs-toggle="modal" data-bs-target="#kt_modal_create_campaign" >Start Now</a>
    </div>
    <!--end::Body-->
</div>
<!--end::Tiles Widget 4-->