<!--begin::Mixed Widget 3-->
<div class="card h-100 bgi-no-repeat bgi-size-cover card-xl-stretch mb-5 mb-xl-8"
    style="background-image:url('assets/media/misc/bg-2.jpg')">
    <!--begin::Body-->
    <div class="card-body d-flex flex-column justify-content-between">
        <!--begin::Title-->
        <div class="text-white fw-bold fs-2">
            <h2 class="fw-bold text-white mb-2">Create Reports</h2>
            With App
        </div>
        <!--end::Title-->
        <!--begin::Link-->
        <a href='#' class="text-warning fw-semibold"  data-bs-toggle="modal" data-bs-target="#kt_modal_create_campaign" >
            Create Report
            <i class="ki-duotone ki-arrow-right fs-2 text-warning"><span class="path1"></span><span class="path2"></span></i>
        </a>
        <!--end::Link-->
    </div>
    <!--end::Body-->
</div>
<!--end::Mixed Widget 3-->