<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Ayuda</h5>
            </div>
            <div class="modal-body">
                <h4>Carta Porte</h4>
                <p>Sí registrarás un Concepto para Carta Porte, recuerda que solo puedes usar las siguientes Claves de Productos y Servicios</p>
                <div class="clearfix"></div>
                <table>
                    <tbody>
                        <tr>
                            <td>78101500</td>
                            <td>Transporte de carga a&eacute;rea</td>
                        </tr>
                        <tr>
                            <td>78101501</td>
                            <td>Transporte nacional a&eacute;reo de carga</td>
                        </tr>
                        <tr>
                            <td>78101502</td>
                            <td>Transporte internacional a&eacute;reo de carga</td>
                        </tr>
                        <tr>
                            <td>78101503</td>
                            <td>Transporte a&eacute;reo blindado</td>
                        </tr>
                        <tr>
                            <td>78101600</td>
                            <td>Transporte de carga por ferrocarril</td>
                        </tr>
                        <tr>
                            <td>78101601</td>
                            <td>Servicios de transporte en furgones</td>
                        </tr>
                        <tr>
                            <td>78101602</td>
                            <td>Servicios de transporte ferroviario de carga a granel</td>
                        </tr>
                        <tr>
                            <td>78101603</td>
                            <td>Transporte de ganado por ferrocarril</td>
                        </tr>
                        <tr>
                            <td>78101604</td>
                            <td>Veh&iacute;culos de servicios de transporte</td>
                        </tr>
                        <tr>
                            <td>78101700</td>
                            <td>Transporte de carga por mar</td>
                        </tr>
                        <tr>
                            <td>78101701</td>
                            <td>Servicios de transporte nacional por buque</td>
                        </tr>
                        <tr>
                            <td>78101702</td>
                            <td>Servicios de transporte internacional por buque</td>
                        </tr>
                        <tr>
                            <td>78101703</td>
                            <td>Servicios de transporte nacional por barcazas</td>
                        </tr>
                        <tr>
                            <td>78101704</td>
                            <td>Servicios de transporte internacional por barcazas</td>
                        </tr>
                        <tr>
                            <td>78101705</td>
                            <td>Transporte mar&iacute;timo blindado</td>
                        </tr>
                        <tr>
                            <td>78101706</td>
                            <td>Servicio de embarcaciones para suministros a plataformas de gas y petr&oacute;leo mar adentro</td>
                        </tr>
                        <tr>
                            <td>78101800</td>
                            <td>Transporte de carga por carretera</td>
                        </tr>
                        <tr>
                            <td>78101801</td>
                            <td>Servicios de transporte de carga por carretera (en cami&oacute;n) en &aacute;rea local</td>
                        </tr>
                        <tr>
                            <td>78101802</td>
                            <td>Servicios transporte de carga por carretera (en cami&oacute;n) a nivel regional y nacional</td>
                        </tr>
                        <tr>
                            <td>78101803</td>
                            <td>Servicios de transporte de veh&iacute;culos</td>
                        </tr>
                        <tr>
                            <td>78101804</td>
                            <td>Servicios de reubicaci&oacute;n</td>
                        </tr>
                        <tr>
                            <td>78101806</td>
                            <td>Servicios transporte de carga por carretera a nivel internacional</td>
                        </tr>
                        <tr>
                            <td>78101807</td>
                            <td>Servicios de transporte de carga de petr&oacute;leo o qu&iacute;micos&nbsp; por carretera</td>
                        </tr>
                        <tr>
                            <td>78101900</td>
                            <td>Transporte de carga intermodal</td>
                        </tr>
                        <tr>
                            <td>78101901</td>
                            <td>Transporte a&eacute;reo a mar&iacute;timo</td>
                        </tr>
                        <tr>
                            <td>78101902</td>
                            <td>Transporte mar&iacute;timo a ferroviario</td>
                        </tr>
                        <tr>
                            <td>78101903</td>
                            <td>Transporte marino a carretera (por cami&oacute;n)</td>
                        </tr>
                        <tr>
                            <td>78101904</td>
                            <td>Transporte a&eacute;reo a carretera (por cami&oacute;n)</td>
                        </tr>
                        <tr>
                            <td>78101905</td>
                            <td>Transporte por vagones de ferrocarril</td>
                        </tr>
                        <tr>
                            <td>78102200</td>
                            <td>Servicios postales de paqueteo y courrier</td>
                        </tr>
                        <tr>
                            <td>78102201</td>
                            <td>Servicios de entrega postal nacional</td>
                        </tr>
                        <tr>
                            <td>78102203</td>
                            <td>Servicios de env&iacute;o, recogida o entrega de correo</td>
                        </tr>
                        <tr>
                            <td>78102204</td>
                            <td>Servicios de entrega a nivel mundial de cartas o paquetes peque&ntilde;os</td>
                        </tr>
                        <tr>
                            <td>78102205</td>
                            <td>Servicios de entrega local de cartas o paquetes peque&ntilde;os</td>
                        </tr>
                        <tr>
                            <td>78121603</td>
                            <td>Tarifa de los fletes</td>
                        </tr>
                        <tr>
                            <td>78141500</td>
                            <td>Servicios de organizaci&oacute;n de transportes</td>
                        </tr>
                        <tr>
                            <td>78141501</td>
                            <td>Servicios de expedidores de fletes</td>
                        </tr>
                        <tr>
                            <td>84121806</td>
                            <td>Servicios de custodia de valores</td>
                        </tr>
                        <tr>
                            <td>92121800</td>
                            <td>Servicios de Carros blindados y transporte de valores</td>
                        </tr>
                        <tr>
                            <td>92121801</td>
                            <td>Servicio de carros blindados</td>
                        </tr>
                        <tr>
                            <td>92121802</td>
                            <td>Servicio de transporte de dinero</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
