<!--begin::Header-->
<div id="kt_header" class="header align-items-stretch mb-5 mb-lg-10">
    <!--begin::Container-->
    <div class="container-xxl d-flex align-items-center">
        <!--begin::Heaeder menu toggle-->
        <div class="d-flex topbar align-items-center d-lg-none ms-n2 me-3" title="Show aside menu">
            <div class="btn btn-icon btn-active-light-primary btn-custom w-30px h-30px w-md-40px h-md-40px" id="kt_header_menu_mobile_toggle">
                <i class="ki-duotone ki-abstract-14 fs-1">
                    <span class="path1"></span>
                    <span class="path2"></span>
                </i>
            </div>
        </div>
        <!--end::Heaeder menu toggle-->
        <!--begin::Header Logo-->
        <div class="header-logo me-5 me-md-10 flex-grow-1 flex-lg-grow-0">
            <a href="?page=index">
                <img alt="Logo" src="~/_CDN/custom/media/logos/CentroCFDi/Logos/claro/logo_bar.png" class="logo-default h-35px" />
            </a>
        </div>
        <!--end::Header Logo-->
        <!--begin::Wrapper-->
        <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
            <!--begin::Navbar-->
            <div class="d-flex align-items-stretch" id="kt_header_nav">
                <!--layout-partial:layout/header/__menu.html-->
                @Html.Partial("~/Views/Shared/layout/header/__menu.cshtml")
            </div>
            <!--end::Navbar-->
            <!--layout-partial:layout/header/__topbar.html-->
            @Html.Partial("~/Views/Shared/layout/header/__topbar.cshtml")
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Container-->
</div>
<!--end::Header-->