<!--begin::loader-->
<div class="page-loader flex-column">
    <img alt="Logo" class="mh-75px" src="~/_CDN/custom/media/logos/CentroCFDi/Logos/oscuro/pinterest_profile_image.png"/>
    <span class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </span>
</div>
<!--end::Loader-->