
<div class="modal fade" id="modal" tabindex="-1" style="display: none;" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-1000px">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header  pb-0 border-0 d-flex justify-content-end">
                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>
            <!--begin::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y pt-0 px-15">
                <div class="d-flex flex-column flex-xl-row">
                    <!--begin::Content-->
                    <div class="flex-lg-row-fluid">
                        <!--begin::Heading-->
                        <div class="text-center mb-13">
                            <!--begin::Title-->
                            <h2 class="d-flex justify-content-center align-items-center mb-3">
                                Cargar documentos CFDi
                            </h2>
                            <!--end::Title-->
                            <!--begin::Description-->
                            <div class="text-muted fs-6">
                                En esta sección podras subir tus Documentos CFDi para su aprobación <br />
                                Si te falta algun dato o encuentras algun problema, por favor contacta a tu administrador.
                            </div>
                            <!--end::Description-->
                        </div>
                        <!--end::Heading-->
                        <!--begin::Content-->
                        <h3>Carga un Nuevo Documento</h3>
                        <p>En el botón de nuevo podrás entrar a la pantalla de carga de documentos para su validación.</p>
                        <img src="~/Content/Ayuda/DocumentosRecibidos/Index/1.jpg" class="mb-10 card-img mw-75 d-block mx-auto" />

                        <h3>Seleacciona los archivos</h3>
                        <p>Carga tu CFDi en XML y la representación en PDF del CFDi.</p>
                        <img src="~/Content/Ayuda/DocumentosRecibidos/Index/2.jpg" class="mb-10 card-img mw-50 d-block mx-auto" />

                        <h3>Validación de tu CFDi</h3>
                        <p>Si tu CFDi cumple con las condiciones comerciales para ser procesado, saldrá en pantalla el resumen de la validación comercial.</p>
                        <img src="~/Content/Ayuda/DocumentosRecibidos/Index/3.jpg" class="mb-10 card-img mw-75 d-block mx-auto" />

                        <h3>Comprobación Fiscal en SAT</h3>
                        <p>En el mismo proceso, se validará en SAT para saber si el documento es fiscalmente válido y activo.</p>
                        <p>Tambien podrás confirmar los datos del CFDi en pantalla en un resumen.</p>
                        <img src="~/Content/Ayuda/DocumentosRecibidos/Index/4.jpg" class="mb-10 card-img mw-75 d-block mx-auto" />

                        <h3>Referencias y Órdenes de Compra</h3>
                        <p>Sí el proceso lo requiere, captura la <strong>Referencia</strong> del CFDi que te hayan dado para el ingreso, o bien selecciona la <strong>Orden de Compra</strong>.</p>
                        <img src="~/Content/Ayuda/DocumentosRecibidos/Index/5.jpg" class="mb-10 card-img mw-50 d-block mx-auto" />

                        <h3>Proceso de Aprobación</h3>
                        <p>El CFDi despues de todas las validaciones, quedará en estado EnRevisón pero aun falta asignar el CFDi a un usuario aprobador.</p>
                        <img src="~/Content/Ayuda/DocumentosRecibidos/Index/6.jpg" class="mb-10 card-img mw-75 d-block mx-auto" />

                        <p>Escribe el mail del solicitante y da clic en el botón de buscar.</p>
                        <p>Si no tienes el email del solicitante, o lo escribes mal, el sistema no dejará avanzar a guardar el documento.</p>
                        <img src="~/Content/Ayuda/DocumentosRecibidos/Index/7.jpg" class="mb-10 card-img mw-50 d-block mx-auto" />

                        <h3>Asignación de Aprobador</h3>
                        <p>Una vez que sea encontrado el usuario solicitante, mostrará su nombre completo y departamento en el que está asignado.</p>
                        <p>Da clic en el botón de <strong>Guardar</strong> para que el documento sea enviado a su bandeja de documentos pendientes.</p>
                        <img src="~/Content/Ayuda/DocumentosRecibidos/Index/8.jpg" class="mb-10 card-img mw-50 d-block mx-auto" />

                        <h3>Siguientes Pasos</h3>
                        <p>Una vez que el documento sea enviado a su bandeja de pendientes, el usuario solicitante recibirá un correo con la notificación de que tiene un documento pendiente por aprobar.</p>
                        <p>El usuario solicitante podrá ver el documento en su bandeja de pendientes y dar clic en el botón de <strong>Aprobar</strong> o <strong>Rechazar</strong>.</p>
                        <img src="~/Content/Ayuda/DocumentosRecibidos/Index/9.jpg" class="mb-10 card-img mw-75 d-block mx-auto" />

                        <p>Si el documento es aprobado, el documento se enviará a la bandeja de documentos aprobados y el usuario solicitante recibirá un correo con la notificación de que su documento ha sido aprobado y continuará su flujo en la sección de <strong>Pagos</strong>.</p>
                        <img src="~/Content/Ayuda/DocumentosRecibidos/Index/10.jpg" class="mb-10 card-img mw-25 d-block mx-auto" />


                        <!--end::Content-->

                        <div class="d-flex flex-end flex-row-fluid">
                            <button type="reset" class="btn btn-primary" data-bs-dismiss="modal">
                                Cerrar
                            </button>
                        </div>

                    </div>
                    <!--end::Content-->
                </div>
            </div>
            <!--begin::Modal body-->
        </div>
    </div>
</div>