<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page d-flex flex-column flex-column-fluid">
        <!--begin::Header-->
        <div id="kt_header" class="header" data-kt-sticky="true" data-kt-sticky-name="header" data-kt-sticky-offset="{default: '200px', lg: '300px'}" style="background-image:url(../../assets/media/background.png)">
            <!--begin::Container-->
            @Html.Partial("~/Views/Shared/header/_Header.cshtml")
            <!--end::Container-->
            <!--begin::Container-->
            @Html.Partial("~/Views/Shared/header/_KtHeader.cshtml")
            <!--end::Container-->
        </div>
        <!--end::Header-->
        <!--begin::Wrapper-->
    </div>
    <!--end::Page-->
</div>
