/* Deja el scroll bar siempre abierto */
html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

/* Background y blurry al bg */
.bg-image {
    /* The image used */
    background-image: url('../../custom/media/background/bg1.jpg') !important;
    backdrop-filter: blur(5px) !important ;
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}