<!--begin::Tiles Widget 5-->
<a href="#" class="card card-xxl-stretch bg-body">
    <!--begin::Body-->
    <div class="card-body d-flex flex-column justify-content-between">
        <i class="ki-duotone ki-rocket text-success fs-2hx ms-n1 flex-grow-1"><span class="path1"></span><span class="path2"></span></i>
        <div class="d-flex flex-column">
            <div class="text-gray-900 fw-bold fs-1 mb-0 mt-5">
                8,600            </div>
            <div class="text-muted fw-semibold fs-6">
            New Customers            </div>
        </div>
    </div>
    <!--end::Body-->
</a>
<!--end::Tiles Widget 5-->