
<div class="modal fade" id="modal" tabindex="-1" style="display: none;" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-1000px">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header  pb-0 border-0 d-flex justify-content-end">
                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>
            <!--begin::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y pt-0 px-15">
                <div class="d-flex flex-column flex-xl-row">
                    <!--begin::Content-->
                    <div class="flex-lg-row-fluid">
                        <!--begin::Heading-->
                        <div class="text-center mb-13">
                            <!--begin::Title-->
                            <h2 class="d-flex justify-content-center align-items-center mb-3">
                                Cargar Comprobantes de Gastos
                            </h2>
                            <!--end::Title-->
                            <!--begin::Description-->
                            <div class="text-muted fs-6">
                                En esta sección podras subir tus Documentos CFDi y comprobantes no fiscales para su aprobación <br />
                                Si te falta algun dato o encuentras algun problema, por favor contacta a tu administrador.
                            </div>
                            <!--end::Description-->
                        </div>
                        <!--end::Heading-->
                        <!--begin::Content-->
                        <h2>Para revisar una Comprobación de Gastos, sigue las siguientes indicaciones</h2>
                        <p>Sube todos los documentos asociados a la comprobación de gastos.</p>
                        <p>Si la comprobación de gastos está relacionada con un evento, asegúrate de que los gastos tengan fecha dentro del periodo del evento.</p>
                        <p>Si los comprobantes están asociados a un proyecto, se acumularán en ese centro de costos.</p>
                        <p>Puedes cargar CFDi, fotos de comprobantes o documentos internacionales.</p>
                        <p>Asigna cada comprobante a un usuario solicitante para su aprobación.</p>
                        <p>Una vez aprobados todos los comprobantes, la comprobación de gastos se cerrará automáticamente.</p>


                        <!--end::Content-->

                        <div class="d-flex flex-end flex-row-fluid">
                            <button type="reset" class="btn btn-primary" data-bs-dismiss="modal">
                                Cerrar
                            </button>
                        </div>

                    </div>
                    <!--end::Content-->
                </div>
            </div>
            <!--begin::Modal body-->
        </div>
    </div>
</div>