@{
    ViewBag.Title = "Acerca de";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Acerca de
                <small>Gracias por adquirir productos con Nosotros!</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
            </li>
            <li class="active">Acerca de</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <center>
            <img src="~/Content/Images/Logos/Infodextra.png" width="225" height="297" class="img-responsive">
        </center>
    </div>
    <div class="col-md-6">
        <h2>Bienvenido a Infodextra</h2>
        <p>Infodextra es una compañía fundada en el 2010, dedicada al desarrollo de software y 
            hardware a la medida enfocado a cualquier sector financiero o económico.</p>

        <p>Nuestra meta es servirlo y hacerlo rápidamente, siempre nos adaptamos a lo que necesite
            y a sus tiempos, además bajo el esquema del mejor servicio al cliente y más vanguardista.</p>
        
        <small>Parque Mariscal Sucre 42 int 12, Del Valle, Benito Juárez, C.P. 03100, México D.F.</small>
    </div>
</div>
<!-- Team Member Profiles -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Nuestro Equipo</h2>
        </div>
        <div class="col-sm-4">
            <h3>
                <a href="mailto:jeronimo@infodextra.com">Jerónimo Sampedro Remis</a>
                <br />
                <small>Desarrollo</small>
                <small>55-32-23-06-59</small>
            </h3>
            
            <h3>
                <a href="mailto:soporte@infodextra.com">Call Center</a>
                <br/>
                <small>Soporte</small>
                <small></small>
            </h3>

            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link">
                    <a title="Facebook" data-placement="top" data-toggle="tooltip" href="https://www.facebook.com/pages/Infodextra-SA-de-CV/241559502635101?fref=nf"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Algunos de nuestros Clientes</h2>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img src="~/Content/Images/Clientes/Aguas.jpg" class="img-responsive img-customer">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img src="~/Content/Images/Clientes/Bisquets.jpg" class="img-responsive img-customer">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img src="~/Content/Images/Clientes/Corpogas.png" class="img-responsive img-customer">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img src="~/Content/Images/Clientes/Huixquilucan.png" class="img-responsive img-customer">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img src="~/Content/Images/Clientes/Wendys.jpg" class="img-responsive img-customer">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img src="~/Content/Images/Clientes/Televisa.png" class="img-responsive img-customer">
        </div>
    </div>
</div>