<!--begin::Page title-->
<div class="page-title d-flex flex-column align-items-start me-3 gap-1">
	<!--begin::Title-->
	<h1 class="d-flex text-dark fw-bold m-0 fs-3">Dashboard 
	<!--begin::Separator-->
	<span class="h-20px border-gray-400 border-start mx-3"></span>
	<!--end::Separator-->
	<!--begin::Description-->
	<small class="text-gray-500 fs-7 fw-semibold my-1">#XRS-45670</small>
	<!--end::Description--></h1>
	<!--end::Title-->
</div>
<!--end::Page title-->