<!--begin::Toolbar-->
<div class="toolbar d-flex flex-stack flex-wrap py-4 gap-2" id="kt_toolbar">
    <!--layout-partial:layout/_page-title.html-->
    @Html.Partial("~/Views/Shared/layout/_page-title.cshtml")

    <!--begin::Button-->
    @if (ViewBag.Button == "Crear")
    {
        <a href="@Url.Action(ViewBag.Action, ViewBag.Controller)" class="btn btn-sm btn-info">Crear Nuevo</a>

    }
    else
    {
       

    }
    <!--end::Button-->
</div>
<!--end::Toolbar-->